.filepond--root {
  padding: 80px 0px;
  height: 180px;
}
.custom-label-action {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 20px;
  background-color: #646464;
  color: #ffffff;
  cursor: pointer;
  min-width: 135px;
  font-weight: 600;
}
.filepond--panel-root {
  display: flex;
  border: 2px dashed #cdcdcd;
  background-color: #f9f9f9;
}
.filepond--drop-label {
  top: 30%;
}
